name: dhn
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - pytorch>=2.0.0
  - pytorch-cuda=11.8  # or 12.1 depending on your CUDA version
  - numpy
  - matplotlib
  - pip
  - pip:
    - absl-py
    - ml-collections
    - tensorboard
